@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    /* background-color: #F1E3B1;  */
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #F1E3B1, #F1E3B1);
    padding: 0;
    margin: 0;
}

.container {
    width: 100%;
    max-width: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 10px;
    border-radius: 24px;
    transition: all 0.3s ease-in-out;
}

.search-area {
    display: flex;
    width: 100%;
    max-width: 330px;
    align-items: center;
    justify-content: center;
    height: 48px;
    border-radius: 24px;
    /* background-color: #D4A017; */
    /* background-color: #eee3cf; */
    background-color: #d3c09c;
    box-shadow: 0px 5px 13px rgba(0, 0, 0, 0.1);
}

.search {
    width: 240px;
    height: 23px;
    border-radius: 7px;
    padding: 2px 6px;
    margin: 0px 5px;
    font-size: 16px;
    font-family: 'Poppins';
    font-weight: 500;
    border: none;
    outline: none;
}

#search-button {
    border-radius: 48%;
    border: none;
}

.city-name {
    font-size: 20px;
    font-weight: 600;
    text-wrap: wrap;
    text-align: center;
    width: 100%;
}

img { 
    display: none;
    width: 195px;
    height: 195px;
    margin-top: -30px;
    margin-bottom: -20px;
    transition: all 0.3s ease-in-out;
}

.img-container {
    padding: 15px 0px
}

.wind,
.humidity,
.temp,
.weather-status {
    margin-top: -1px;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: -1px;
    text-align: center;
    width: 100%;
}

.weather-info {
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    margin: 4px 0px;
}

.svg {
    display: none;
}


.toggle-container {
    display: flex;
    align-items: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 38px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 15px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    border-radius: 15px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #4CAF50;
}

input:checked + .slider:before {
    transform: translateX(16px);
}

#temp-switch-text {
    margin-right: 10px;
    font-size: 13px;
    font-weight: 600;
}
  
.loader {
    border: 6px solid #f3f3f3;
    /* border-top: 6px solid #3498db; */
    border-top: 6px solid #B53471;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    animation: spin 1s linear infinite;
    display: none;
    margin-top: 15px;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }